<!DOCTYPE html>
<html>
  <head>
    <title>Filter - Sort</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-app="app" ng-controller="TestCtrl as test">
    <input type="text" ng-model="search" />

    <!-- Can chain together various filter options -->
    <p ng-repeat="person in test.people | filter: search | orderBy: 'name' | limitTo: 5">
      {{ person.name }}
    </p>
  </body>
</html>
